body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.score {
    text-align: center;
    font-size: 140px;
    font-family: 'Antic Slab', serif;
}
.gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}